<table class="table table-bordered table-hover">
    <thead class="thead-light">
    <tr>
        <th scope="col"
            (click)="handleSort()"
        >
            Id
        </th>
        <th *ngFor="let column of columns"
            scope="col"
            (click)="handleSort(column)"
        >
            {{column.header}}
            <i class="fa"
               aria-hidden="true"
               [class.fa-sort]="sort?.field !== column.field"
               [class.fa-sort-up]="sort?.field === column.field && sort.order === 'asc'"
               [class.fa-sort-down]="sort?.field === column.field && sort.order === 'desc'"
            ></i>
        </th>
        <th scope="col"
            (click)="handleSort()"
        >
            Actions
        </th>
    </tr>
    </thead>
    <tbody *ngIf="pagination && data">
    <tr *ngFor="let row of data; let idx = index">
        <th scope="row">{{((pagination.page - 1) * pagination.limit) + idx + 1}}</th>
        <td *ngFor="let column of columns"
        >
            {{row[column.field]}}
        </td>
        <td>
            <div class="btn-group btn-group-sm" role="group" aria-label="Actions">
                <button type="button"
                        class="btn btn-secondary edit"
                        *ngIf="!confirmRemove[row[dataKey]]"
                        (click)="handleEdit(row)"
                >
                    <i class="fa fa-pencil" aria-hidden="true"></i> Edit
                </button>
                <button type="button"
                        class="btn btn-danger remove"
                        *ngIf="!confirmRemove[row[dataKey]]"
                        (click)="handleRemove(row[dataKey])"
                >
                    <i class="fa fa-trash-o" aria-hidden="true"></i> Remove
                </button>
                <button type="button"
                        class="btn btn-danger confirm"
                        *ngIf="confirmRemove[row[dataKey]]"
                        (click)="handleConfirmRemove(row, row[dataKey])"
                >
                    <i class="fa fa-trash-o" aria-hidden="true"></i> Confirm
                </button>
                <button type="button"
                        class="btn btn-warning cancel"
                        *ngIf="confirmRemove[row[dataKey]]"
                        (click)="handleCancelRemove(row[dataKey])"
                >
                    <i class="fa fa-close" aria-hidden="true"></i> Cancel
                </button>
            </div>
        </td>
    </tr>
    </tbody>
</table>

<sl-list-view-pagination
    *ngIf="data?.length"
    [pagination]="pagination"
    (onPaginate)="handlePaginate($event)"
></sl-list-view-pagination>
