<nav aria-label="Data grid navigation" *ngIf="pagination">
    <ul class="pagination justify-content-end">
        <li class="page-item"
            [class.disabled]="pagination.isFirst"
            (click)="handlePrev()"
        >
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"
            *ngIf="!pagination.isFirst"
            (click)="handlePrev()"
        >
            <a class="page-link" href="#">{{pagination.page - 1}}</a>
        </li>
        <li class="page-item active">
            <a class="page-link" href="#">{{pagination.page}} <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item"
            *ngIf="!pagination.isLast"
            (click)="handleNext()"
        >
            <a class="page-link" href="#">{{pagination.page + 1}}</a>
        </li>
        <li class="page-item"
            [class.disabled]="pagination.isLast"
            (click)="handleNext()"
        >
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>
